* {
background-color: #1F2937;
}
.navBar {
   color: aqua;
}

.navBar h1 {
    color: #F9FAF8;
    font-size: 24px;
    
}

.navBar a, h1 {
    display:inline-block;
    margin-left: 10px;
    }

.navBar a {
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    float: right;
}    

/* Texts within/below the navbar */
.navText {
 color: #e5e7eb;
}

.navText h1 {
    font-size: 48px;
}

.navText p {
    font-size: 18px;
    display: flex;
    justify-content: left;
    padding-left: 150px;
}

.navText img{
 width:540px;
 height:300px;
 display:inline-flex;
 /* float:right; */
 margin: bottom 200px;
}

/* .sectionTwo  {
    background-color: white;
    background-size: auto;
} */

.sectionTwo div {
   color: white;
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 20px;
    
}

.sectionTwo p{
    color: white;
     display: inline-flex;
     margin-top: auto;

     
 }
.sectionTwo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    min-height: auto;
    border: white 5px;
    border-style: solid;
    border-radius: 25px;
    
    
}

.sectionTwo h2 {
    color: white;
    text-align: center;
}