* {
background-color: #1F2937;
}
.navBar {
   color: aqua;
}

.navBar h1 {
    color: #F9FAF8;
    font-size: 24px;
    
}

.navBar a, h1 {
    display:inline-block;
    margin-left: 10px;
    }

.navBar a {
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    float: right;
}    

/* Texts within/below the navbar */
.navText {
 color: #e5e7eb;
}

.navText h1 {
    font-size: 48px;
}

.navText p {
    font-size: 18px;
}

.navText img{
 width:540px;
 height:auto;
 display: flex;
 justify-content: end;
}