.headerOne {
    background-color: #1F2937;
    
    color: #F9FAF8;
    font-size: 24px;
}

.headerNav {
    margin: 0;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
justify-content: flex-end;
align-items: center;
}

.mp, .vm, .gg {
    margin: 0 5px;
    color: #F9FAF8;
}

.para, {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 20px;
}

.link {
    font-size: 18px;
    background-color: #3882f6;
    color: #e5e7eb
}